html {
  height: 100%;
}

body {
  background-color: #84B9CD;
  background: rgba(132,185,204,1);
  background: -moz-linear-gradient(top, rgba(132,185,204,1) 0%, rgba(84,150,178,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(132,185,204,1)), color-stop(100%, rgba(84,150,178,1)));
  background: -webkit-linear-gradient(top, rgba(132,185,204,1) 0%, rgba(84,150,178,1) 100%);
  background: -o-linear-gradient(top, rgba(132,185,204,1) 0%, rgba(84,150,178,1) 100%);
  background: -ms-linear-gradient(top, rgba(132,185,204,1) 0%, rgba(84,150,178,1) 100%);
  background: linear-gradient(to bottom, rgba(132,185,204,1) 0%, rgba(84,150,178,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84b9cc', endColorstr='#5496b2', GradientType=0 );
  background-size: cover;
  background-attachment: fixed;
  background-repeat: none;
  color: #272C41;
  font-family: 'Raleway', sans-serif;
}

/* Sign up & sign in pages */

.content {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 50%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

#signup h1, #signin h1 {
  margin-bottom: 40px;
}

/* There should be an easier way to style angular input fields */
form.ng-pristine.ng-invalid.ng-invalid-required,form.ng-invalid.ng-invalid-required.ng-dirty.ng-valid-parse, form.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required, input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required.ng-touched, input.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required.ng-touched, input.ng-dirty.ng-valid-parse.ng-touched.ng-invalid.ng-invalid-required, input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, input.ng-untouched.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required, input.ng-untouched.ng-dirty.ng-valid-parse.ng-invalid.ng-invalid-required {
  margin: 0 auto 30px;
}

form {
  width: 50%;
}

input {
  font-size: 20px;
  width: 250px;
}

input, button {
  border: 1px solid #272C41;
  border-radius: 5px;
  padding: 8px;
}

button {
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  width: 150px;
}

.error {
  font-size: 14px;
}

.change-sign {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Nav */

.logo {
  display: inline;
  font-size: 40px;
  font-weight: 100;
  left: 30px;
  position: absolute;
  top: 20px;
}

.nav {
  margin: 40px auto 0;
  text-align: center;
  width: 320px;
}

.nav li {
  border-right: 1px black solid;
  float: left;
  /* This moves the prompt down - find better way */
  margin-bottom: 150px;
  padding: 0 15px;
}

.nav li:last-child {
  border: none;
  padding-right: 0;
}

.nav a {
  color: #272C41;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Home page initial */

ul {
  list-style-type: none;
  padding-left: 0;
}

.prompt {
  clear: both;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.prompt-one {
  margin-bottom: 35px;
}

.emotion-spectrum {
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  clear: both;
}

.emoji {
  background: none;
  border: none;
  border-radius: 50px;
  float: left;
  margin-bottom: 35px;
  margin-right: 10px; 
  padding: 0;
  width: 50px;
}

img {
  width: 50px;
}

/* Home page selected */

.selected {
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  /*position: relative;*/
}

.feels-form {
  width: 75%;
  margin: 0 auto;
}

textarea {
  display: block;
  width: 400px;
  font-size: 20px;
  /*font-weight: 100;*/
  border: 1px solid #272C41;
  border-radius: 5px;
  padding: 8px;
}

.submit-feels {
  width: 100px;
  margin-top: 20px;
}

.selected .prompt {
  /*top: 50;*/
  /*font-size: 30px;*/
}

/* Journal page */

.journal-entry {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  margin-top: 30px;
}

.journal-entries {
  margin-top: 20px;
  margin-bottom: 50px;
}

.journal-entries li:last-child {
  border: none;
}

.timestamp {
  margin-bottom: 15px;
}

.text {
  font-size: 24px;
  padding-bottom: 20px;
}

/* Graph page */
