body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}


h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 80px;
  font-weight: 100;
}

.content {
  margin: 0 auto;
  margin-top: 200px;
  width: 50%;
}

form {
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
}


.ng-pristine {
  margin-right: 0;
}

.ng-untouched {
  margin-right: 0;
}

.ng-invalid {
  margin-right: 0;
}

.ng-invalid-required {
  margin-right: 0;
}


input {
  display: block;
/*  margin: 0;*/
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 100;
  padding: 5px;
}
