html {
  height: 100%;
}

body {
  /*background: #000;*/
  background: rgba(134,174,204,0.9);
  background: -moz-linear-gradient(-45deg, rgba(134,174,204,0.9) 0%, rgba(212,228,239,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(134,174,204,0.9)), color-stop(100%, rgba(212,228,239,1)));
  background: -webkit-linear-gradient(-45deg, rgba(134,174,204,0.9) 0%, rgba(212,228,239,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(134,174,204,0.9) 0%, rgba(212,228,239,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(134,174,204,0.9) 0%, rgba(212,228,239,1) 100%);
  background: linear-gradient(135deg, rgba(134,174,204,0.9) 0%, rgba(212,228,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#d4e4ef', GradientType=1 );
/*  background: rgba(51,157,184,0.57);
  background: -moz-linear-gradient(top, rgba(51,157,184,0.57) 0%, rgba(88,187,214,0.79) 52%, rgba(51,157,184,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,157,184,0.57)), color-stop(52%, rgba(88,187,214,0.79)), color-stop(100%, rgba(51,157,184,1)));
  background: -webkit-linear-gradient(top, rgba(51,157,184,0.57) 0%, rgba(88,187,214,0.79) 52%, rgba(51,157,184,1) 100%);
  background: -o-linear-gradient(top, rgba(51,157,184,0.57) 0%, rgba(88,187,214,0.79) 52%, rgba(51,157,184,1) 100%);
  background: -ms-linear-gradient(top, rgba(51,157,184,0.57) 0%, rgba(88,187,214,0.79) 52%, rgba(51,157,184,1) 100%);
  background: linear-gradient(to bottom, rgba(51,157,184,0.57) 0%, rgba(88,187,214,0.79) 52%, rgba(51,157,184,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339db8', endColorstr='#339db8', GradientType=0 );*/
  background-size: cover;
  background-attachment: fixed;
  background-repeat: none;
  color: #272C41;
  font-family: 'Raleway', sans-serif;
}

/* Sign up & sign in pages */

.content {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 50%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0;
  text-align: center;
  background: linear-gradient(330deg, #dc3c3c 0%, #27d8d8 33%, #9952e0 67%, #dc3c3c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#signup h1, #signin h1 {
  margin-bottom: 40px;
}

/* There should be an easier way to style angular input fields */
form.ng-pristine.ng-invalid.ng-invalid-required,form.ng-invalid.ng-invalid-required.ng-dirty.ng-valid-parse, form.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required, input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required.ng-touched, input.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required.ng-touched, input.ng-dirty.ng-valid-parse.ng-touched.ng-invalid.ng-invalid-required, input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, input.ng-untouched.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required, input.ng-untouched.ng-dirty.ng-valid-parse.ng-invalid.ng-invalid-required {
  margin: 0 auto 30px;
}

form {
  width: 50%;
}

input {
  font-size: 20px;
  width: 250px;
}

input, button {
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 8px;
}

button {
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  width: 150px;
  outline: none;
}

.error {
  font-size: 14px;
}

.change-sign {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Nav */

.logo {
  display: inline;
  font-size: 40px;
  font-weight: 100;
  left: 30px;
  position: absolute;
  top: 20px;
  background: linear-gradient(330deg, #23c29b 5%, #9952e0 75%, #9952e0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  margin: 40px auto 0;
  text-align: center;
  width: 320px;
}

.nav li {
  border-right: 1px #272C41 solid;
  float: left;
  /* This moves the prompt down - find better way */
  margin-bottom: 50px;
  padding: 0 15px;
}

.nav li:last-child {
  border: none;
  padding-right: 0;
}

.nav a {
  color: #272C41;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.username {
  display: inline;
  font-size: 35px;
  font-weight: 100;
  color: #5d8aa8;
  right: 30px;
  position: absolute;
  top: 20px;
}

.nav a:hover {
  font-weight: 700;
}

/* Home page initial */

ul {
  list-style-type: none;
  padding-left: 0;
}

.prompt {
  clear: both;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.prompt-one {
  padding-top: 5px;
  padding-bottom: 10px;
}

.emotion-spectrum {
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  clear: both;
}

.emoji {
  background: none;
  border: none;
  border-radius: 50px;
  float: left;
  margin-bottom: 35px;
  margin-right: 10px; 
  padding: 0;
  width: 50px;
}

img {
  width: 50px;
}

.home [ui-view].ng-enter {
  transition: 0.4s linear all;
  opacity: 0;
}

.home [ui-view].ng-enter-active {
  opacity: 1;
}

.home [ui-view="initial"].ng-leave {
  transition-property: opacity, max-height;
  transition-duration: 0.3s, 0.2s;
  transition-delay: 0s, 0.1s;
  transition-timing-function: ease, linear;
  max-height: 150px;
}

.home [ui-view="initial"].ng-leave-active {
  max-height: 0;
  opacity: 0;
}

.home [ui-view="selected"].ng-leave {
  transition: 0.4s linear all;
}

.home [ui-view="selected"].ng-leave-active {
  opacity: 0;
}


/* Home page selected */

.selected {
  /*padding-top: 150px;*/
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.selected-emoji img {
  box-sizing: border-box;
  border-radius: 50px;
  padding: 3px;
  background-color: #fff;
}

.feels-form {
  width: 75%;
  margin: 0 auto;
}

textarea {
  display: block;
  width: 400px;
  font-size: 20px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.submit-feels {
  width: 100px;
  margin-top: 20px;
  border: 1px solid #707070;
}

/* Journal page */

#journal h1 {
  clear: both;
  font-size: 60px;
  margin-bottom: 50px;
  /*padding-top: 50px;*/
}

.journal-entry {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.journal-entries {
  margin-top: 20px;
}

.journal-entries li:last-child {
  border: none;
}

.timestamp {
  display: inline-block;
  margin-bottom: 5px;
  color: #fff;
}

.text {
  font-size: 24px;
  padding: 10px;
  border-radius: 8px 8px 8px 50px;
  background-color: #fff;
}

.journal-entry .emoji {
  border-radius: 50px;
  padding: 5px;
  background-color: #fff;
}

/* Graph page */

#graph1 {
  display: inline-block;
  float: left;
  margin: 20px 20px 50px;
}

.graph-header {
  font-size: 60px;
  clear: both;
  /*padding-top: 50px;*/
}

.emojiImage {
  cursor: pointer;
}

/* Text container */
#graphText {
  display: inline-block;
  float: left;
}

.emojiText {
  background-color: #fff;
  border-radius: 8px;
  font-size: 24px;
  margin: 200px 30px 0;
  padding: 10px 10px;
  width: 450px;
}
